
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

a {
  
  text-decoration: inherit;
}

body {
  margin: 0;
 
}

.body-container{
  width: calc(100% - 190px);
  margin: 0 auto;
}

